.form-control {
    width: 426px;              /* Adjust width as per your needs */
    padding: 10px 15px;         /* Add padding for a comfortable input field */
    border-radius: 25px;        /* Rounded corners */
    border: 1px solid #ccc;     /* Light border */
    outline: none;              /* Remove default outline */
    font-size: 16px;            /* Comfortable font size */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: all 0.3s ease;  /* Smooth transition for hover/focus effects */
  }
  
  .search-input:focus {
    border-color: #4CAF50;      /* Change border color on focus */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on focus */
  }
  
  .search-btn {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;  /* Green background */
    color: white;               /* White text */
    border: none;               /* Remove border */
    border-radius: 25px;        /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-btn:hover {
    background-color: #45a049;  /* Darken the button on hover */
  }
  
  .btn-search{
    background-color: #0d207e;
    color: white;
    border-radius: 25px; 
    padding: 0px 22px 3px;
  }
  .btn-search:hover{
    background-color: #050e3a;
    color: white;
    border-radius: 25px; 
  }
  input::placeholder {
    text-align: center; /* Center align the placeholder text */
}

.btn-view {
    background-color: #0e6f25; /* Bootstrap's green color */
    border-color: #0e6f25; /* Match border color */
    color: white; /* Text color */
    padding: 4px 16px;
    border-radius: 25px; 
}

.btn-view:hover {
    background-color: #1e4a28; /* Darker green on hover */
    border-color: #1e4a28; /* Darker border on hover */
}



/* styles.css */

.btn-update {
    background-color: #d1b815; /* Your custom green color */
    color: white; /* Text color */
    border-radius: 25px; 
  }
  
  .btn-delete {
    background-color: #b41111; /* Your custom blue color */
    color: white; /* Text color */
    border-radius: 25px; 
  }
  
  
  .btn-update:hover {
    background-color: #927214; /* Darker blue on hover */
  }
  
  .btn-delete:hover {
    background-color: #8a0a0a; /* Darker red on hover */
  }
  .btn-add{
    background-color: #075a09;
    color: white;
    border-radius: 25px; 
  }
  .btn-add:hover{
    background-color: #124104;
    color: white;
    border-radius: 25px; 
  }
  .btn-logout{
    background-color: #0d207e;
    color: white;
    border-radius: 25px; 
    padding: 8px 20px;
  }
  .btn-logout:hover{
    background-color: #050e3a;
    color: white;
    border-radius: 25px; 
  }