/* register.component.scss */

.container-signup {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-top: 20px;
    font-family: 'Cataraman', sans-serif; 
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;

    label {
        font-weight: bold;
    }

    input {
        width: 94%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out;
    }

    input:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .text-danger {
        color: #dc3545;
        font-size: 14px;
        margin-top: 4px;
    }
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    color: white;
}

.btn-primary {
    background-color: #021223;
    border-color: #021223;
}

.btn-primary:hover {
    background-color: #070f18;
    border-color: #070f18;
}

.btn-primary:disabled,
.btn-primary.disabled {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* src/app/signup/signup.component.css */
.success-message {
    color: green;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  